<section class="mail">
		<section class="landingForm">
			<img src="{{@blog.logo}}" alt="{{@blog.logo}}" width="100" height="100">
			<h3 class="margin-top0" style="color:#0099ff;">Recibe los descuentos y ofertas a tu inbox</h3>
			<p>Únete a los mas de 250 subscriptores</p>
			<form action="//facebook.us14.list-manage.com/subscribe/post?u=dd48bc2444e2e0a756501f73b&amp;id=a6d1a3b7fa" name="mc-embedded-subscribe-form" target="_blank" novalidate>
				<input type="text" placeholder="Nombre Completo" name="FNAME">
				<input type="email" placeholder="Tu email" name="EMAIL">
				<input type="submit" placeholder="Subscribirme" value="¡Quiero Unirme!" class="backRed colorWhite" name="subscribe">
			</form>
			<p class="copy">
				<span class="fa fa-lock"></span>
				Confidencialidad. Nunca SPAM. Puedes darte de baja cuando quieras.
			</p>
		</section>
</section>

