


<section class="mail">

	<h2 style="color:#fff;">Únete a la Comunidad de lectores Pro.</h2>
	<h4 style="color:#ca0000;">Leér es ejercitar tu cerebro!</h4>

	<form action=""  class="form">
		<input type="text" class="form-input" placeholder="Tu Nombre (ej. Carlos. . .)"/>
		<input type="text" class="form-input" placeholder="me@ejemplo.com"/>
		<input type="submit" class="form-input" value="Únirme!"/>
	</form>

	<div class="pagination">
		<span style="color:white;">
		* Recibe mensualmente los mejores posts de mi blog.
		</span>
	</div>

</section>



