<nav class="nav">
    <img src="sad.png"  alt="" class="logo-nav" style="width:220px; height:50px;"/>
    <ul class="nav-items">
        {{#foreach navigation}}
            <li class="nav-item nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation">
            	<a href="{{url absolute="true"}}">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
    <span class="fa fa-bars nav-button"><span>
</nav>
<span class="nav-cover"></span>
